@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
* ::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background-color: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
  padding: 10px;
  color: var(--clr-white);
  text-align: center;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
.container {
  width: 1000px;
  height: 1000px;
  box-sizing: border-box;
  background: var(--clr-grey-1);
  float: left;
  box-shadow: 4px 5px 15px black;
  color: var(--clr-white);
}
.fixed {
  width: 400px;
  height: 500px;
  background: red;
  float: left;
  margin-left: 40px;
}
img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 4px 5px 15px white;
  float: left;
}

.cart-img {
  width: 400px;
  height: 500x;
  text-align: center;
  background-color: var(--clr-grey-4);
  box-shadow: 4px 5px 15px black;
  border-radius: 10px;
  padding: 15px;
  float: left;
  margin-left: 5px;
}
.cart-titl {
  float: left;
  margin-left: 50px;
}
.icon {
  color: var(--clr-grey-8);
  font-size: 1.8rem;

  cursor: pointer;
  transition: all 0.5;
}
.icon:hover {
  background-color: hsl(125, 71%, 66%);
  padding: 20px;
  color: var(--clr-black);
  border-radius: 50%;
}
.item {
  font-size: 1.5rem;
}
.clear {
  clear: both;
}
.hr-style {
  border: 5px solid blanchedalmond;
  border-left: none;
  border-right: none;
  border-top: none;
}
.kupon {
  color: hsl(205, 89%, 70%);
  text-align: center;
}
.code {
  color: hsl(125, 67%, 44%);
  text-align: center;
  font-size: 1.5rem;
}
button {
  width: 60px;
  height: 40px;
  font-weight: bold;
  background-color: var(--clr-grey-3);
  color: white;
}
.input-2 {
  width: 200px;
  height: 40px;
  margin-left: 10px;
}
